<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Grupos</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>

    <main class="container">
        <section>
            <h1 id="tituloGrupos"></h1>
            <div class="btn-container">
                <div class="left-btn">
                    <button class="btn btn-info" onclick="carregarGrupos(1)">ATIVOS</button>
                    <button class="btn btn-warning" onclick="carregarInativos(1)">INATIVOS</button>
                    <input type="text" id="searchInput" class="input-search" placeholder="Buscar grupos..." />
                    <button id="btnLimparBusca" class="btn btn-danger">LIMPAR</button>
                </div>
                <div class="right-btn">
                    <button class="btn btn-action" id="btnNovoGrupo">+ NOVO GRUPO</button>
                </div>
            </div>

            <div id="paginacao"></div>

            <div class="metrics-container">
                <span>Total: <strong id="totalRegistros">0</strong></span>
                <span>Ativos: <strong id="totalAtivos">0</strong></span>
                <span>Inativos: <strong id="totalInativos">0</strong></span>
            </div>
            
            <table border="1" id="table-group" class="table table-fixa table-mini">
                <thead></thead>
                <tbody></tbody>
            </table>            
        </section>

        <div id="modalGrupo" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" id="closeModalAdd">&times;</span>
                    <h2>Novo Grupo</h2>
                </div>
                
                <form id="formGrupo" class="form-container form-mini">
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="descricao" class="label">Descrição</label>
                                <input type="text" id="descricao" autocomplete="OFF">
                            </div>
                        </div>
                        <div class="modal-actions">
                            <button type="submit" class="btn btn-action">SALVAR</button>
                            <button type="button" class="btn btn-danger" id="cancelarBtnAdd">CANCELAR</button>
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-center">
                        <div>
                            <small id="erroDescricao" class="error-text" aria-live="polite"></small>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="modalEditar" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" id="closeModalEdit">&times;</span>
                    <h2>Editar Grupo</h2>
                </div>
                <form id="formEditarGrupo">
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="descricaoEditar">Descrição</label>
                                <input type="text" id="descricaoEditar" name="descricao" autocomplete="OFF">
                            </div>
                        </div>
                        <div class="modal-actions">
                            <button type="submit" class="btn btn-action">SALVAR ALTERAÇÕES</button>
                            <button type="button" class="btn btn-danger" id="cancelarBtnEdit">CANCELAR</button>
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-center">
                        <div>
                            <span id="erroDescricaoEditar" class="error-text" aria-live="polite"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="../../js/auth/grupos.js"></script>
</body>
</html>
