<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Grupos</title>
</head>
<body>

    <main>
        <section>
            <h1>📋 Lista de Grupos</h1>
            <table border="1" id="table-group">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody><!-- Linhas inseridas via JS --></tbody>
            </table>
        </section>
    </main>
    

    <script src="../../js/auth/grupos.js"></script>
</body>
</html>
